.mainDiv{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.card{
    width: 32%;
    padding:  5px;
    border: 1px solid #000;
    margin: 3px;
    border-radius: 2px;
}


.cardGrid{
        width: 100%;
    
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}