* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.newNav{
  max-width: 80%;
}
.welcome{
  font-size: 22px;
  color: silver;
  margin-right: 20px;
}
.toogleBtn{
  margin:10px;
  background: aliceblue;
  border-radius: 7px;
}
.card{
  border-radius: 7px;
}